@font-face {
  font-family: "Display Heavy";
  src: local("SF-Pro-Display-Heavy"),
    url("../public/fonts/SF-Pro-Display-Heavy.otf") format("OpenType");
}
@font-face {
  font-family: "Display Regular";
  src: local("SF-Pro-Display-Bold"),
    url("../public/fonts/SF-Pro-Display-Bold.otf") format("OpenType");
}

@font-face {
  font-family: "Display Deep";
  src: local("SF-Pro-Display-Black"),
    url("../public/fonts/SF-Pro-Display-Black.otf") format("OpenType");
}

@font-face {
  font-family: "Display Thin";
  src: local("SF-Pro-Display-Light"),
    url("../public/fonts/SF-Pro-Display-Medium.otf") format("OpenType");
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
