@import "../../../style.scss";

header h1 {
    font-family: Display Thin;
    font-size: 4em;
    background-image: linear-gradient(to left, #6D27E8, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.form {
    min-height: calc(100vh - 5em);
    padding: 30px 0;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .formContainer {
        width: min(1400px, 90vw);
        background-color: #eeeeee;
        display: flex;
        padding: 50px;
        border-radius: 20px;
        gap: 30px;

        .formLeft {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 30px;

            @include landscapeTablet {
                width: min(80vw, 500px);
                align-self: center;
                align-items: center;
            }
        }

        .formRight {
            margin-top: 100px;
            align-self: flex-start;
            flex: 0.9;
            display: flex;

            @include landscapeTablet {
                width: min(80vw, 500px);
                align-self: center;
            }
        }

        @include landscapeTablet {
            flex-direction: column;
            align-self: center;
            padding: 20px 0;
        }
    }
}

.formCard {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fdfdfd;
    padding: 30px;
    border-radius: 20px;
    gap: 30px;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;

    @include mobile {
        
    background-color: #eee;
        padding: 5px;
        width: 100%;
        box-shadow: none;
    }

    .formTitle {

        background-image: linear-gradient(to top right, #fdfdfd, #d3daee);
        border-radius: 10px;
        padding: 10px;

        div {
            font-family: Display Regular;
            font-size: 1.8em;
            color: #6D27E8;

            @include mobile {
                font-size: 1.3em;
            }
        }

        span {
            font-family: Display Regular;
            color: #aaa;
        }

        ;
    }

    input,
    select {
        padding: 10px;
        border: none;
        border-bottom: 1px #bbb solid;
        font-family: Display Thin;
        font-size: 1.2em;
        color: #555;

        @include mobile {
            font-size: 1.3em;
        }
    }

    .btns {
        display: flex;
        justify-content: right;
        gap: 30px;

        @include mobile {
            flex-direction: column;
        }

        .btn {
            transition: background-color 200ms;
            cursor: pointer;
            border: none;
            padding: 10px 30px;
            border-radius: 10px;
            font-family: Display Regular;
            font-size: 1.5em;
            color: white;
        }

        .reset {
            color: #777;
        }

        .reset:hover {
            background-color: #ddd;
        }

        .submit {
            background-color: #6D27E8;
        }

        .submit:hover {
            background-color: #6023caa5;
        }
    }

}

.result{
    min-height: calc(100vh - 5em);

    display: flex;
    justify-content: center;
    align-items: center;

    .resultContainer{
        width: min(1400px, 90vw);
        padding: 40px;
        border-radius: 40px;
        display: flex;
        gap: 20px;
        flex-direction: column;
        background-color: #ddd;

        .topSection{
            display: flex;
            gap: 20px;

            .left{
                flex:2;
                background-color: black;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                padding: 20px;

                h1{
                    font-family: Display Thin;
                    color: white;
                }
                .score{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    span{
                        font-size: 10em;
                        color: white;
                        font-family: Display Regular;
                    }
                    div{
                        color: white;
                        font-family: Display Thin;
                        font-size: 1.5em;
                    }
                }
            }
            .right{
                flex:3;
                background-color: #95cfd9;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                padding: 20px;
                gap: 50px;

                h1{
                    font-family: Display Thin;
                    color: #555;
                    font-size: 2em;
                }
                .score{
                    span{
                        font-family: Display Regular;
                        font-size: 6em;

                    }
                }
            }

        }

        .bottomSection{
            background-color: #dabda9;
            display: flex;
            border-radius: 20px;
            .reccContainer{
                display: flex;
                padding: 20px;
                gap: 30px;
                .title{
                    font-family: Display Heavy;
                    font-size: 2em;
                    display: flex;
                    align-items: center;
                }
                .card{
                    display: flex;
                    flex-direction: column;
                    background-color: #eee;
                    border-radius: 10px;
                    padding: 20px;
                    span{
                        font-size: 1.3em;
                        font-family: Display Regular;
                        color: #555;
                    }
                }

                .btn {
                    transition: background-color 200ms;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    justify-self: flex-end;
                    cursor: pointer;
                    border: none;
                    padding: 10px 30px;
                    border-radius: 10px;
                    font-family: Display Regular;
                    font-size: 1.5em;
                    color: white;
                }
        
                .reset {
                    background-color: black;
                }
        
                .reset:hover {
                    background-color: white;
                    color: black;
                }
        
                .submit {
                    background-color: #6D27E8;
                }
        
                .submit:hover {
                    background-color: #6023caa5;
                }
            }
        }
    }
}